.kodchasan-semibold {
    font-family: "Kodchasan", sans-serif;
    font-weight: 700;
    font-style: normal;
}
body {
    background-image: url("../img/background.png");
    background-size: cover;
}

swiper-container {
    width: 75%;
}

swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #569DAA;
    border-radius: 50px;
    justify-content: center;
    padding-top: 10px;
    font-family: "Kodchasan", sans-serif;
    font-size: 30px;
    font-weight: 500;
    font-style: normal;
    shape-rendering: 5px;
    padding-bottom: 30px;
}

swiper-slide img {
    width: 100%;
    height: 100%;
    Border-radius:15px;
}

.josefin-sans-uniquifier {
   font-family: "Josefin Sans", sans-serif;
   font-optical-sizing: auto;
   font-weight: 700;
   font-style: normal;
}
.div-padding{
    padding-inline: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

/* Nouvelles règles si la fenêtre fait au plus 1024px de large */
@media screen and (max-width: 1024px) {
    .div-padding{
        padding-inline: 10px;
        display: flex;
        justify-content: center;
        gap: 10px;
        flex-direction: column;
    }
}

.export-csv-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3c444c;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    color : rgb(185, 237, 221);
}

.export-csv-button:hover {
    background-color: #344c5e;
}

.modifier-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3c444c;
    color: rgb(185, 237, 221);
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.modifier-button:hover {
    background-color: #344c5e;
}

/* Style de la fenêtre modale */
.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.8);
    font-family: "Kodchasan", sans-serif;
}

/* Contenu de la fenêtre modale */
.modal-content {
    background-color: #569DAA;
    margin: 10% auto;
    padding: 30px;
    border: 5px solid #3c444c;
    width: 30%;
    border-radius: 30px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: "Kodchasan", sans-serif;
}

/* Bouton de fermeture */
.close {
    color: #3c444c;
    float: right;
    font-size: 28px;
    font-weight: bold;
    font-family: "Kodchasan", sans-serif;
}

.close:hover,
.close:focus {
    color: #333;
    text-decoration: none;
    cursor: pointer;
}

.canva {
    width: 100% !important;
    height: 100% !important;
 }

.div-padding-moyenne {
    display: flex;
}

.padding-temp {
    padding-left: 7%;
}

.padding-ph {
    padding-left: 18%;
}

.export-csv-2-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3c444c;
    color: rgb(185, 237, 221);
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}
